body {
  margin: 0;
  background-color: #d6a4a4;
  font-family: -apple-system, BlinkMacSystemFont, "Advent Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
